@model OnlineBanking.Models.Card

@{
    ViewData["Title"] = "Details";
}
@section style
{
    <link rel="stylesheet" href="~/Admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Admin/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Admin/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
}
<h1>Details</h1>
<hr />
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">DataTable with minimal features & hover style</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.AccountId)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.AccountId)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Balance)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Balance)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Pin)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Pin)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.OpenDate)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.OpenDate)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.TypeId)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.TypeId)
                        </dd>
                    </dl>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
    <!-- /.col -->
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.CardId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
