@model OnlineBanking.Models.UserAccount

<div class="card card-primary card-outline">
    <div class="card-body box-profile">
        <div class="text-center">
            <img class="profile-user-img img-fluid img-circle"
                 src="~/@Url.Content("Images/" + Model.Avatar)"
                 alt="@Model.Avatar" width="100">
        </div>

        <h3 class="profile-username text-center">@Model.FullName</h3>

        <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>

        <p class="text-muted">
            @Model.Address
        </p>

        <hr>

        <strong><i class="fas fa-venus mr-1"></i> Gender</strong>

        @if (Model.Gender)
        {
            <p class="text-muted">Male</p>
        }
        else
        {
            <p class="text-muted">Female</p>
        }

        <hr>

        <strong><i class="fas fa-phone mr-1"></i> Phone</strong>

        <p class="text-muted">
            @Model.Phone
        </p>

        <hr>

        <strong><i class="fas fa-id-card mr-1"></i> Identity ID</strong>

        <p class="text-muted">
            @Model.IdentityId
        </p>

        <hr>

        <strong><i class="fas fa-birthday-cake mr-1"></i> Birthday</strong>

        <p class="text-muted">
            @Model.DoB
        </p>

        <hr>

        <strong><i class="fas fa-envelope mr-1"></i> Email</strong>

        <p class="text-muted">
            @Model.Email
        </p>

        <a href="#" class="btn btn-primary btn-block"><b>Edit</b></a>
    </div>
    <!-- /.card-body -->
</div>